{% load static %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'log_reg_us/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'log_reg_us/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'log_reg_us/js/misperris.js' %}"></script>

<div class="col-12 footer">
        <p>Desarrollo Web y Móvil</p>
</div>