{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mis Perris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'log_reg_us/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'log_reg_us/css/misperris.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'log_reg_us/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'log_reg_us/slick/slick-theme.css' %}"/>

    <link rel="icon" type="image/png" href="{% static 'log_reg_us/imagenes/icono.png' %}" />
    <link rel="manifest" href="{% static 'log_reg_us/manifest.json' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img class="img-fluid" src="{% static 'log_reg_us/imagenes/logo.png' %}" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">quienes somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contáctanos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/refugio/listar">refugio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/refugio/listapi">API</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <span class="navbar-text">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/_register">Usuario: {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}"><button type="button" class="btn btn-default">Log Out</button></a>
            </li>
            {% else %}
            <div class="dropleft">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sign In
                </button>
                <div class="dropdown-menu col-md-4" aria-labelledby="dropdownMenuButton">
                    {% include "log_reg_us/login.html" %}
                </div>
              </div>
              <li class="nav-item">
                  <a class="nav-link" href="/_register">registro</a>
              </li>
            {% endif %}
        </span>
      </ul>
  </div>
</nav>

</body>
</html>