{% load static %}
<!DOCTYPE html>
<html>
    {% include "log_reg_us/header.html" %}
<body>
    <div class="row">

        
        <div class=" one-time banner col-md-12">
           <div><img  src="{% static 'log_reg_us/imagenes/adoptados/Apolo.jpg' %}" alt="" class="img-fluid"> 
           <div class="box_data">
                <span>Pexel: Perro de color blanco con variaciones cafes</span>
            </div>
            </div> 
            <div><img src="{% static 'log_reg_us/imagenes/adoptados/Duque.jpg' %}" alt="" class="img-fluid"></div>
            <div><img src="{% static 'log_reg_us/imagenes/adoptados/Tom.jpg' %}" alt="" class="img-fluid"></div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4 banner2">
            <p>+56 9 98765431</p>
        </div>
        <div class="col-md-4 banner2">
            <p>Rescate y adopción de perros callejeros</p>
        </div>
        <div class="col-md-4 banner2" id="logotipos">
            <a href="#0"> <img src="https://image.flaticon.com/icons/svg/270/270021.svg" > </a>
            <a href="#0"><img src="https://image.flaticon.com/icons/svg/145/145802.svg"> </a>
            <a href="#0"><img src="https://image.flaticon.com/icons/svg/185/185964.svg"> </a>
            <a href="#0"><img src="https://image.flaticon.com/icons/svg/185/185985.svg"> </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 columnaI">
            <h1>RESCATE</h1>
            <p id="etapa">ETAPA UNO</p>
            <HR>
            <P>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</P>
            <img src="{% static 'log_reg_us/imagenes/rescate.jpg' %}" alt="rescate">
        </div>
        <div class="col-md-6 columnaD">
            <img src="{% static 'log_reg_us/imagenes/crowfunding.jpg' %}" alt="crowfounding">
            <h1>CROWDFUNDING</h1>
            <p id="finan">FINANCIAMIENTO</p>
            <HR><br/>
            <P>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando</P>
            <input type="submit" value="CAMPAÑAS" class="btn btn-success"/>
        </div>
    </div>

    <ul class="gallery_box">
        <li>
            <a href="#0"><img src="{% static 'log_reg_us/imagenes/rescatados/bigotes.jpg' %}" >
            <div class="box_data">
                <span>Bigotes: Perro Amigable, de naturaleza timida.</span>
            </div></a>
        </li>
            <li>
            <a href="#0"><img src="{% static 'log_reg_us/imagenes/rescatados/chocolate.jpg' %}">
            <div class="box_data">
                <span>Chocolate: Jugueton, Energetico.</span>
            </div></a>
        </li>
            <li>
            <a href="#0"><img src="{% static 'log_reg_us/imagenes/rescatados/Luna.jpg' %}">
            <div class="box_data">
                <span>Luna: Perrito audaz de color cafe.</span>
            </div></a>
        </li>
                <li>
            <a href="#0"><img src="{% static 'log_reg_us/imagenes/rescatados/Maya.jpg' %}">
            <div class="box_data">
                <span>Maya: Leal, siempre con animos de jugar.</span>
            </div></a>
        </li>
                <li style="    position: relative;
        top: -134px;">
            <a href="#0"><img src="{% static 'log_reg_us/imagenes/rescatados/Oso.jpg' %}">
            <div class="box_data">
                <span>Oso: Perezoso, pero siempre alegra el dia.</span>
            </div></a>
        </li>
                <li>
            <a href="#0"><img src="{% static 'log_reg_us/imagenes/rescatados/Pexel.jpg' %}">
            <div class="box_data">
                <span>Pexel: Perro de color blanco con variaciones cafes</span>
            </div></a>
        </li>
	
    </ul>

{% include "log_reg_us/footer.html" %}
</body>
</html>