<!DOCTYPE html>
<html>

<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% load socialaccount %}
        {% providers_media_js %}
                <div class="row">
                    <div class="col-md-6">
                    <label for="">Usuario:</label>
                    <input class="form-control" type="text" placeholder="Ingrese usuario" name="username" required><br/>
                    </div>
                    <div class="col-md-6">
                    <label for="">Clave:</label>
                    <input class="form-control" type="password" placeholder="Ingrese contraseña" name="password" required><br/>
                    </div>
                    <a href="{% provider_login_url "facebook" %}">Facebook Log-In</a>
                    <a href="{% provider_login_url "twitter" %}">Twitter Log-In</a>
                    <a href="{% provider_login_url "gitlab" %}">GitLab Log-In</a>
                    <a href="/password-reset">Recuperar Contraseña</a>
                </div>

        <input type="submit" value="Login">
    </form>

</body>
</html>