<!DOCTYPE html>
<html>
        {% include "log_reg_us/header.html" %}
<body>
        {% block content %}
          <h3>Forgot password</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
          </form>
        {% endblock %}
</body>
{% include "log_reg_us/footer.html" %}

</html>