<!DOCTYPE html>
<html>
        {% include "log_reg_us/header.html" %}
<body>
    
        {% block content %}
        <p>
          Your password has been set. You may go ahead and <a href="{% url 'index' %}">sign in</a> now.
        </p>
      {% endblock %}

</body>
{% include "log_reg_us/footer.html" %}

</html>