<!DOCTYPE html>
<html>
        {% include "log_reg_us/header.html" %}
<body>
    
        {% block content %}
        {% if validlink %}
          <h3>Change password</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
          </form>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        {% endif %}
      {% endblock %}
      
</body>
{% include "log_reg_us/footer.html" %}

</html>