<!DOCTYPE html>
<html>
        {% include "log_reg_us/header.html" %}
<body>
    <form action="{% url '_register' %}" method="post">
        {% csrf_token %}

        {% if form.errors %}
        <p>Problema</p>
        {% endif %}
                <div class="card-header"><h1 class="titulo">Ingrese sus Datos</h1></div>
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Nombre:</label>
                        <input class="form-control" type="text" placeholder="Nombre" name="first_name" required><br/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Apellido:</label>
                        <input class="form-control" type="text" placeholder="Apellido" name="last_name" required><br/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Usuario:</label>
                        <input class="form-control" type="text" placeholder="Usuario" name="username" required><br/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Email:</label>
                        <input class="form-control" type="email" placeholder="Ingrese su email" name="email" required><br/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Clave:</label>
                        <input class="form-control" type="password" placeholder="Ingrese contraseña" name="password1" required><br/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Confirmar Clave:</label>
                        <input class="form-control" type="password" placeholder="Ingrese confirme contraseña" name="password2" required><br/>
                    </div>
        </div>

        <input type="submit" value="Register">
    </form>

</body>
{% include "log_reg_us/footer.html" %}

</html>