<!DOCTYPE html>
<html>
{% include "log_reg_us/header.html" %}
<body>
    {% if form.errors %}
    <p>Hay algo mal en tu acceso</p>
    {% endif %}

    {% if next %}
    <p>Bienvenido</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <p><input type="submit" value="Login"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% include "log_reg_us/footer.html" %}
</body>
</html>