<!DOCTYPE html>
<html>
        {% include "log_reg_us/header.html" %}
<body>

    <form action="" method="POST">
        {% csrf_token %}
        <h3>¿Desea eliminar el registro de {{ mascota.nombre }}?</h3>
        <button class="danger" type="submit">Eliminar</button>
        <a class="btn btn-default" href="{% url 'listar' %}">Cancelar</a>
    </form>

</body>
{% include "log_reg_us/footer.html" %}

</html>