<!DOCTYPE html>
<html>
        {% include "log_reg_us/header.html" %}
<body>

    <form class="" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

</body>
{% include "log_reg_us/footer.html" %}

</html>