<!DOCTYPE html>
<html>
        {% include "log_reg_us/header.html" %}
<body>

{% if user.is_staff == True %}
    <form action="" method="GET">
        <p>
            <div class="form-group">
                <select class="form-control" name="estado">
                  <option>Rescatado</option>
                  <option>Disponible</option>
                  <option>Adoptado</option>
                </select>
              </div>
            <button class="btn btn-success">Filtrar</button>
        </p>
    </form>
    <a href="/refugio/reg_mascota"><button class="btn btn-info">Agregar</button></a>
{% endif %}
            <div class="row">
            {% if filter.qs %}
            {% for mascota in filter.qs %}
                    <div class="card col-md-4">
                            <img class="card-img-top img-fluid" src="/media/{{ mascota.fotografia }}" alt="Card image cap" style="height: 12rem;">
                            <div class="card-body">
                              <h5 class="card-title">{{ mascota.nombre }}</h5>
                              <h7 class="card-title">{{ mascota.raza }}</h7>
                              <p class="card-text">{{ mascota.desc }}</p>
                              {% if user.is_staff == True %}
                              <a href="{% url 'mascota_editar' mascota.id %}"><button class="btn btn-primary">Editar</button></a>
                              <a href="{% url 'mascota_eliminar' mascota.id %}"><button class="btn btn-danger">Eliminar</button></a>
                              {% endif %}
                            </div>
                    </div>
            {% endfor %}
            </div>
            {% else %}
            <h1>No hay mascotas para adoptar</h1>
            {% endif %}

</body>
{% include "log_reg_us/footer.html" %}

</html>