<!DOCTYPE html>
<html>
        {% include "log_reg_us/header.html" %}
<body>

    <form class="" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       <!-- {{ form.as_p }} -->
       <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre">
      </div>
      <div class="form-group">
        <label for="raza">Raza</label>
        <input type="text" class="form-control" name="raza">
      </div>
      <div class="form-group">
        <label for="desc">Descripción</label>
        <input type="text" class="form-control" name="desc">
      </div>
       <div class="form-group">
        <label for="foto">Foto</label>
        <input type="file" class="form-control" name="fotografia" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="estado">Example select</label>
        <select class="form-control" name="estado">
          <option>Rescatado</option>
          <option>Disponible</option>
          <option>Adoptado</option>
        </select>
      </div>
        <button type="submit">Guardar</button>
    </form>

</body>
{% include "log_reg_us/footer.html" %}

</html>