body{
    margin: 0%;
    overflow-x: hidden;
    font-size: 15px;
}

p{
    margin: 0;
}

.banner{
    background-color: #6dccaa;
    max-height: 450px;
    overflow: hidden;
}

hr{
color: black;
width: 33%;
}

.banner img{
    width: 100%;
}

.banner .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff; z-index: 1;}
.banner .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}

.banner2{
    background-color: #6dccaa;
    color: white;
    font-weight: bolder;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner2 img{
    padding-left:10px;
    width: 75px;
    height: 75px;
}

.columnaD{
    padding: 50px;
}

.columnaI{
    font-family: Verdana;
    float: left;
    padding-left: 30px;
    text-align: right;
    
}

.columnaI > hr{
    border: solid 1px;
    width: 10%;
    float: right;
    margin: 5px;
    
    
}

.columnaD{
    font-family: Verdana;
    float: right;
    padding: 30px;
    text-align: left;
    
    
}

.columnaD >p {

    margin-top: 5px;
}

.columnaD > hr{
    border: solid 1px;
    width: 10%;
    float: left;
    margin: 5px;
    
    
}

.columnaI > p {

    margin-top: 20px;
}

.galeria{
    background-color: #6dccaa;
}

.galeria img{
    margin: 10px;
}

.footer{
    background: gray;
    margin: 0px;
    padding: 25px;
}

.contenedor{
    margin: 100px;
}


.gallery_box img{
width: 100%;
}
.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
}
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}




